<div container="admin_main_container">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>no</th>
      <th>회사명</th>
      <th>담당자</th>
      <th>부서명</th>
      <th>사무실 전화</th>
      <th>직책</th>
      <th>이메일</th>
      <th>휴대폰</th>
    </tr>
    </thead>
    <tbody>
      <% @answers.each_with_index do |ans, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= ans.company_name %></td>
          <td><%= ans.manager_name %></td>
          <td><%= ans.department %></td>
          <td><%= ans.phone %></td>
          <td><%= ans.work_level %></td>
          <td><%= ans.email %></td>
          <td><%= ans.cellphone %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
