<div id="logo">
Palo Alto
</div>

<div id="main_container">
  <%= form_for @answer, url: (actions: "create") do |f| %>
    <div class="userinfo_container">
      <div class="company_name">
      회사명:  <%= f.text_field :compnay_name %>
      </div>
      <div class="manager_name">
        <%= f.text_field :manager_name %>
      </div>
      <div class="department inline">
        <%= f.text_field :department %>
      </div>
      <div class="phone">
        <%= f.text_field :phone %>
      </div>
      <div class="work_level inline">
        <%= f.text_field :work_level %>
      </div>
      <div class="email">
        <%= f.text_field :email %>
      </div>
      <div class="cellphone inline">
        <%= f.text_field :cellphone %>
      </div>
    </div>
    <div class="servery_container">
      <div class="question question_1">
        <p class="question">
          1.현재 사용 중인 데스크톱/노트북 대수는 어떻게 되십니까?
        </p>
        <%= f.radio_button(:answer_1, 1) %>
        <%= f.label(:answer_1, "100대 미만") %>
        <%= radio_button_tag(:answer_1, 2) %>
        <%= label_tag(:answer_1, "100대 이상~1,000대 미만") %>
        <%= radio_button_tag(:answer_1, 3) %>
        <%= label_tag(:answer_1, "1,000대 이상~5,000대 미만") %>
        <%= radio_button_tag(:answer_1, 4) %>
        <%= label_tag(:answer_1, "5,000대 이상~10,000대 미만") %>
        <%= radio_button_tag(:answer_1, 5) %>
        <%= label_tag(:answer_1, "10,000대 이상") %>
      </div>
      <div class="question question_2">
        <p class="question">
          2.차세대 방화벽에 대해서 알고 계시거나 소개를 받으신 적이 있습니까?
        </p>
        <%= radio_button_tag(:answer_2, 1) %>
        <%= label_tag(:answer_2, "예") %>
        <%= radio_button_tag(:answer_2, 2) %>
        <%= label_tag(:answer_2, "아니오") %>
      </div>
      <div class="question question_3">
        <p class="question">
          3.현재 사용하고 계시는 방화벽에 대한 불만사항이 있다면 어떤 것이 있습니까?
        </p>
        <%= radio_button_tag(:answer_3, 1) %>
        <%= label_tag(:answer_3, "성능이슈") %>
        <%= radio_button_tag(:answer_3, 2) %>
        <%= label_tag(:answer_3, "관리 편의성 부족") %>
        <%= radio_button_tag(:answer_3, 3) %>
        <%= label_tag(:answer_3, "보안기능 미비") %>
        <%= radio_button_tag(:answer_3, 4) %>
        <%= label_tag(:answer_3, "없음") %>
      </div>
      <div class="question question_4">
        <p class="question">
          4. 차세대 방화벽 구축 프로젝트에 대해서 방문컨설팅을 원하십니까?
        </p>
        <%= radio_button_tag(:answer_2, 1) %>
        <%= label_tag(:answer_2, "예") %>
        <%= radio_button_tag(:answer_2, 2) %>
        <%= label_tag(:answer_2, "아니오") %>
      </div>
      <div class="question question_5">
        <p class="question">
          5. 팔로알토 네트웍스 솔루션에 관한 제품정보, 신제품 출시, 세미나 초청 등 마케팅 관련 자료를 수신하겠습니까?
        </p>
        <%= radio_button_tag(:answer_2, 1) %>
        <%= label_tag(:answer_2, "예") %>
        <%= radio_button_tag(:answer_2, 2) %>
        <%= label_tag(:answer_2, "아니오") %>
      </div>
      <div class="question question_6">
        <p class="question">
          6. 팔로알토 네트웍스의 AVR(Application Visibility and Risk Report) 프로그램을 통해 귀사의 네트워크에 대한 건강 진단을 원하십니까?
        </p>
        <%= radio_button_tag(:answer_2, 1) %>
        <%= label_tag(:answer_2, "예") %>
        <%= radio_button_tag(:answer_2, 2) %>
        <%= label_tag(:answer_2, "아니오") %>
      </div>
    </div>
    <div class="footer">
      <div class="left_container">
        <p>
        고객의 개인정보 처리에 관한 동의서 보기 <label for="agreement">동의함</label> <input type="checkbox" id="agreement" name="agreement" />
        </p>
        <p>
          본 프로모션에 대한 결과 발표는 6월 둘째주까지 당첨자에게 개별 통보됩니다.
        </p>
        <p>
          본 프로모션의 내용은 별도의 통보 없이 당사의 사정에 의해 부득이 변경될 수 있습니다.
        </p>
      </div>
      <div class="submit_btn">
        <%= f.submit "submit" %>
      </div>
    </div>
  <% end %>
</div>

