<div id="main_container">
  <%= form_for @answer, :url => answers_path, :remote => true do |f| %>
      <%= f.text_field :company_name, :class => "form_1" %>
      <%= f.text_field :manager_name, :class => "form_2" %>
      <%= f.text_field :department, :class => "form_3" %>
      <%= f.text_field :phone, :placeholder => "02-000-0000", :class => "form_2" %>
      <%= f.text_field :work_level, :class => "form_3" %>
      <%= f.text_field :email, :placeholder => "sample@gmail.com", :class => "form_2" %>
      <%= f.text_field :cellphone, :placeholder => "010-0000-0000", :class => "form_3" %>
      <div style="float:left; display:block; width:700px; height:90px;"><br />
        <%= f.radio_button(:answer_1, 1, :style => "position:absolute; top: 234px; left: 64px;") %>
        <%= f.radio_button(:answer_1, 2, :style => "position:absolute; top: 234px; left: 155px;") %>
        <%= f.radio_button(:answer_1, 3, :style => "position:absolute; top: 234px; left: 328px;") %>
        <%= f.radio_button(:answer_1, 4, :style => "position:absolute; top: 234px; left: 511px;") %>
        <%= f.radio_button(:answer_1, 5, :style => "position:absolute; top: 257px; left: 64px;") %>
      </div>
      <div style="float:left; display:block; width:700px; height:30px; margin-top:20px;">
        <%= f.radio_button(:answer_2, 1, :style => "position:absolute; top: 322px; left: 64px;") %>
        <%= f.radio_button(:answer_2, 2, :style => "position:absolute; top: 322px; left: 290px;") %>
      </div>
      <div style="float:left; display:block; width:700px; height:110px; margin-top:50px;">
        <%= f.radio_button(:answer_3, 1, :style => "position:absolute; top: 388px; left: 64px;") %> 
        <%= f.radio_button(:answer_3, 2, :style => "position:absolute; top: 409px; left: 64px;") %>
        <%= f.radio_button(:answer_3, 3, :style => "position:absolute; top: 431px; left: 64px;") %>
        <%= f.radio_button(:answer_3, 4, :style => "position:absolute; top: 452px; left: 64px;") %>
      </div>
      <div style="float:left; display:block; width:700px; height:70px; margin-top:-10px;">
        <%= f.radio_button(:answer_4, 1, :style => "position:absolute; top: 519px; left: 64px;") %>
        <%= f.radio_button(:answer_4, 2, :style => "position:absolute; top: 518px; left: 274px;") %>
      </div>
      <div style="float:left; display:block; width:700px; height:80px; margin-top:0px;">
        <%= f.radio_button(:answer_5, 1, :style => "position:absolute; top: 585px; left: 64px;") %>
        <%= f.radio_button(:answer_5, 2, :style => "position:absolute; top: 584px; left: 274px;") %>
      </div>
      <div style="float:left; display:block; width:700px; height:50px; margin-top:-10px;">
        <%= f.radio_button(:answer_6, 1, :style => "position:absolute; top: 672px; left: 64px;") %>
        <%= f.radio_button(:answer_6, 2, :style => "position:absolute; top: 671px; left: 274px;") %>
      </div>
    </div>
      <div class="agreement">
        <input type="button" id="show_agreement" value=""><input type="checkbox" id="agreement" name="agreement" />
      </div>
      <div class="submit_btn">
        <%= f.submit "" %>
      </div>
  <% end %>
</div>

