<div id="main_container">
  <%= form_for @answer, :url => answers_path do |f| %>
      <%= f.text_field :company_name, :class => "form_1" %>
      <%= f.text_field :manager_name, :class => "form_2" %>
      <%= f.text_field :department, :class => "form_3" %>
      <%= f.text_field :phone, :placeholder => "02-000-0000", :class => "form_2" %>
      <%= f.text_field :work_level, :class => "form_3" %>
      <%= f.text_field :email, :placeholder => "sample@gmail.com", :class => "form_2" %>
      <%= f.text_field :cellphone, :placeholder => "010-0000-0000", :class => "form_3" %>
      <div style="float:left; display:block; width:700px; height:90px;"><br />
        <%= f.radio_button(:answer_1, 1, :style => "margin-left:45px; margin-top:40px;") %>
        <%= f.radio_button(:answer_1, 2, :style => "margin-left:65px;") %>
        <%= f.radio_button(:answer_1, 3, :style => "margin-left:155px;") %>
        <%= f.radio_button(:answer_1, 4, :style => "margin-left:165px;") %><br />
        <%= f.radio_button(:answer_1, 5, :style => "margin-left:45px; margin-top:6px;") %>
      </div>
      <div style="float:left; display:block; width:700px; height:30px; margin-top:20px;"><br>
        <%= f.radio_button(:answer_2, 1, :style => "margin-left:42px; margin-top:18px;") %>
        <%= f.radio_button(:answer_2, 2, :style => "margin-left:205px;") %>
      </div>
      <div style="float:left; display:block; width:700px; height:110px; margin-top:50px;"><br>
        <%= f.radio_button(:answer_3, 1, :style => "margin-left:42px;") %> <br />
        <%= f.radio_button(:answer_3, 2, :style => "margin-left:42px; margin-top:5px;") %><br />
        <%= f.radio_button(:answer_3, 3, :style => "margin-left:42px; margin-top:6px;") %><br />
        <%= f.radio_button(:answer_3, 4, :style => "margin-left:42px; margin-top:7px;") %>
      </div>
      <div style="float:left; display:block; width:700px; height:70px; margin-top:-10px;"><br>
        <%= f.radio_button(:answer_4, 1, :style => "margin-left:42px; margin-top:34px;") %>
        <%= f.radio_button(:answer_4, 2, :style => "margin-left:190px;") %>
      </div>
      <div style="float:left; display:block; width:700px; height:80px; margin-top:0px;"><br>
        <%= f.radio_button(:answer_5, 1, :style => "margin-left:42px; margin-top:31px;") %>
        <%= f.radio_button(:answer_5, 2, :style => "margin-left:190px;") %>
      </div>
      <div style="float:left; display:block; width:700px; height:50px; margin-top:-10px;"><br>
        <%= f.radio_button(:answer_6, 1, :style => "margin-left:42px; margin-top:48px;") %>
        <%= f.radio_button(:answer_6, 2, :style => "margin-left:190px;") %>
      </div>
    </div>
      <div class="agreement">
        <input type="button" id="show_agreement" value=""><input type="checkbox" id="agreement" name="agreement" />
      </div>
      <div class="submit_btn">
        <%= f.submit "" %>
      </div>
  <% end %>
</div>

